.default {
    padding: 10px 30px;
    border-radius: 5px;
    outline: none;
    border: 1px solid #000;
    background-color: #ccc;
    margin-bottom: 20px;
    cursor: pointer;
}
.default:hover {
    background-color: rgba(0, 0, 0, 0.5);
}

.default:disabled {
    cursor: no-drop;
}

.red {
    background-color: red;
    color: #fff;
    font-weight: 700;
    padding: 10px 30px;
    border-radius: 5px;
    outline: none;
    border: 1px solid #000;
    margin-bottom: 20px;
    cursor: pointer;
}
.red:hover {
    opacity: 0.5;
}